body {
  font-family: Helvetica;
  top: auto;
  width: auto;
  padding: 10px;
  margin: 5px 15px;
}
.sidebar {
	overflow: auto;
	position: fixed;
	right: 0;
	top: auto;
	width: auto;
	text-align: right;
	padding: 10px;
}
blockquote{
  font-size:11px;
  opacity:.75;
}
