body {
  margin:0;
  padding:20px;
  height:100%;
  top: auto;
  width: auto;
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.sidebar {
	overflow: auto;
	position: fixed;
	right: 0;
	top: auto;
	width: auto;
	text-align: right;
	padding: 10px;
}
blockquote{
  font-size:11px;
  opacity:.75;
  border-left: 5px solid teal;
}
footer.page-footer {
    background-color: #4acaa8;
    padding-top: 0;
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-right: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.brand-logo:hover {
    background-color: transparent !important;
}
@media only screen and (min-width: 992px) {
    header, main, footer {
        padding-left: 240px;
    }
}
.logo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #4acaa8 !important;
    height: 200px;
    -moz-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
}
.logo:hover {
    -moz-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
    background-color: white !important;
}
#nav-mobile {
    background-color: #cfd8dc;
}
.side-nav {
  width: 240px;
}
.side-nav li {
    -moz-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
    background-color: #cfd8dc;
}
.side-nav li:hover {
    -moz-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s;
    background-color: white;
}
.side-nav li.active {
    background-color: white;
}
main {
    flex: 1 0 auto;
    padding-bottom: 0px;
}
ul#icons li {
    display: inline;
    padding-right: 20px;
}
h1 {
    color: #4acaa8;
    font-weight: 600;
    font-size: 500%;
}
i {
    color: #009688;
}
h4 {
    color: #4acaa8;
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
